
.label {
    font-size: 16px;
    margin-bottom: 5px;
}
.input {
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;

}
.button { 
    background-color: #392C25;
    color: #9C8568;
    border-radius: 10px;
    padding: 10px;


}